<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper file: 실행 할 쿼리 문을 저장하는 파일. 테이블 하나당 한개씩 작성
namespace: 작업하는 테이블들을 구분해주기 위한 식별자 -->
<mapper namespace="com.happy.dao.QBoardDao">

	<insert id="addQBoard" parameterType="QBoard" >
	insert into qboard (no, title, content, userid, write_date) 
	values(null, #{title}, #{content}, #{userid}, sysdate());
	</insert>
	
	<select id="getQBoard" parameterType="java.lang.String" resultType="QBoard" >
		select * from qboard 
		where no= #{no}
	</select>
	
	<select id="getAllQBoard" resultType="QBoard" >
		select * from qboard order by no desc
	</select>
	
	<update id="editQBoard" parameterType="QBoard" >
		update qboard set 
		title = #{title}, content = #{content}
		where no = #{no}
	</update>
  
  	<delete id="deleteQBoard" parameterType="java.lang.String">
  		delete from qboard 
  		where no = #{no}
  	</delete>
  
</mapper>






